// Google font

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

// Color Variables 

$primary: radial-gradient(91% 105.38% at 9% 28.21%, #FF9978 0%, #F15A29 79.07%);
$heading: linear-gradient(90.81deg, #F15A29 1.49%, #5B1600 50.7%);
$darkText: #5B1600;
$orange: #F15A29;
$dark: #000000;
$secondary: #404040;
$grey: #A4A4A4;
$light: #FFE4DC;
$xlight: #FFF5F2;
$white: #ffffff;

// Custom Buttons

.btn {
    border-radius: 8px;
    padding: 10px 30px;

    &:focus {
        box-shadow: none;
    }

    &:hover {
        opacity: 0.9;
    }
}

.btn-main {
    background: $primary;
    color: $white;

    &:hover {
        color: $white;
    }


}

.btn-white {
    background: $white;
    color: $orange;

    &:hover {
        color: $orange;
    }
}

.btn-main-outline {
    background: $white;
    color: $orange;
    border: 1px solid $orange;

    &:hover {
        color: $white;
        background-color: $orange;
    }
}

// Custom mixins

@mixin itemPosition($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}


// Custom Styles 

h1 {
    font-size: 35px;
    background: linear-gradient(90.81deg, #F15A29 1.49%, #5B1600 100.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    background: linear-gradient(90.81deg, #F15A29 1.49%, #5B1600 50.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h3 {
    font-size: 25px;
    color: $secondary;
}

h4 {
    font-size: 20px;
    color: $darkText;
}

.centerMid {
    @include itemPosition(center, center)
}

.headingRow {
    text-align: center;

    p {
        max-width: 800px;
        margin: 15px auto 50px;
    }
}

input {
    &:focus {
        box-shadow: none !important;
    }
}

// Index page Style 

section.headerTop {

    background-image: url('../assets/headerTop.png');
    background-image: url('../assets/headerTop.png');
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
}

section.header {
    margin-top: -50px;

    nav.navbar {
        ul.navbar-nav {
            background: linear-gradient(90deg, #5B1600 -1.7%, #F15A29 101.82%);
            border-radius: 30px 8px;
            padding: 20px;

            li.nav-item {
                margin: 0 3px;
                border-radius: 20px;
                padding: 0 10px;

                a.nav-link {
                    color: $light;
                }

                &:hover {
                    background-color: $white;

                    a.nav-link {
                        color: $darkText;
                    }
                }

                &.active {
                    background-color: $white;
                    border-radius: 20px;

                    a.nav-link {
                        color: $darkText;
                    }
                }
            }
        }

        .loginBtn {
            margin-left: 30px;
        }
    }

    .dropdown {
        ul.dropdown-menu {
            width: 100%;
            border-radius: 20px;
            padding: 20px 0;

            .dropdown-item {
                &:active {
                    background-color: $orange;
                }
            }
        }
    }
}

section.main {
    background-image: url('../assets/mainImage.jpg');
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 70px;

    .container {
        .filterwrap {
            background: linear-gradient(96.82deg, #F0F0F0 10%, rgba(255, 255, 255, 0) 104.16%);
            filter: drop-shadow(5px 4px 20px rgba(0, 0, 0, 0.3));
            backdrop-filter: blur(10px);
            padding: 10px 20px;
            border-radius: 50px;

            .filterRow {
                background-color: $white;
                padding: 10px 0;
                border-radius: 50px;
                align-items: center;

                .secectBox {
                    border-right: 1px solid $orange;
                    position: relative;

                    i {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        color: $orange;
                    }

                    &:last-child {
                        border-right: none;
                    }

                    select {
                        border: none;
                        background: transparent;
                        position: relative;
                        z-index: 5;


                        &:focus {
                            box-shadow: none;
                        }
                    }

                    .btn {
                        border-radius: 50px;
                    }
                }
            }
        }
    }

    .toggleBtns {
        display: flex;
        justify-content: end;
        gap: 20px;
        position: absolute;
        bottom: 170px;
        right: 30px;

        .btnBox {
            border: 1px solid $primary;
            border-radius: 50%;
            cursor: pointer;
            width: 40px;
            height: 40px;
            @include itemPosition(center, center);

            .fa-arrow-left {
                color: $light;
            }

            .fa-arrow-right {
                color: $light;
            }
        }

        .btnBox1 {
            background: $primary;
        }

        .btnBox2 {
            background: $primary;
        }
    }

    .owl-carousel-main {
        position: absolute;
        bottom: -200px;

        .item {
            text-align: center;

            .imgBox {
                background: linear-gradient(96.82deg, #F0F0F0 10%, rgba(255, 255, 255, 0) 104.16%);
                filter: drop-shadow(5px 4px 20px rgba(0, 0, 0, 0.3));
                backdrop-filter: blur(10px);
                border-radius: 15px;
                padding: 10px;

                img {
                    border-radius: 12px;
                }

                h3 {
                    color: $darkText;
                    margin-top: 15px;
                    font-size: 20px;
                }
            }
        }
    }
}

section.expectation {
    margin-top: 250px;
    text-align: center;

    img {
        width: 100%;
    }
}

section.certifications {
    padding: 60px 0;
    text-align: center;

    p {
        max-width: 800px;
        margin: 15px auto 50px;
    }

    .content {
        background: linear-gradient(360deg, #FFFFFF 4.32%, #F15A29 65.61%, #5B1600 98.99%);
        border-radius: 15px;
        width: fit-content;
        padding: 10px;
        margin: auto;

        .imgBox {
            background-color: $white;
            padding: 8px;
            width: fit-content;
            border-radius: 12px;
            margin-top: 15px;

            img {
                width: 100%;
            }

            h4 {
                margin-top: 15px;
            }
        }
    }
}

section.yogaschool {
    padding: 0 0 60px 0;

    img {
        width: 100%;
    }
}

section.courseContent {
    .dropdownBox {
        background: linear-gradient(180deg, #F15A29 0%, #D83601 100%);
        border-radius: 15px;
        padding: 1px 10px;

        .dropdownRow {
            @include itemPosition(center, flex-start);
            gap: 10px;
            margin: 10px 0;

            .icon {
                width: 50px;
                height: 50px;
                @include itemPosition(center, center);
                background-color: $white;
                border-radius: 10px;

                img {
                    width: 40px;
                }
            }

            .dropdown {
                height: 50px;
                flex: 1;

                button {
                    height: 50px;
                    color: $primary;
                    width: 100%;
                    text-align: start;
                    padding: 10px 15px;

                    &.dropdown-toggle {
                        &::after {
                            position: absolute;
                            top: 50%;
                            right: 15px;
                        }
                    }
                }

                ul.dropdown-menu {
                    width: 100%;
                    border-radius: 8px;

                    .dropdown-item {
                        &:active {
                            background-color: $orange;
                        }
                    }
                }
            }
        }
    }
}

section.destination {
    padding: 60px 0;

    .destinationContent {
        position: relative;

        .image {

            border-radius: 15px;

            img {
                width: 100%;
                border-radius: 15px;
            }
        }

        .text {
            position: relative;
            border: 1px solid $orange;
            border-radius: 15px;
            padding: 30px 10px 20px;
            margin-top: 10px;

            ul {
                li {
                    color: $orange;
                }
            }

            .destinationName {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 10px;
                padding: 10px 15px;
                background-color: $light;
                border: 1px solid $orange;
                top: -25px;

                p {
                    color: #5B1600;
                    font-weight: 500;
                }
            }
        }


        button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -21px;
        }
    }
}

section.accomodation {
    .container {
        background-color: $light;
        border-radius: 15px;
        padding: 15px;
    }
}

section.reviews {
    padding: 60px 0;
    margin: 60px 0;
    background-color: $xlight;

    .owl-carousel-reviews {
        .item {
            .review {
                text-align: center;

                .image {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    display: block;
                    margin: auto;

                    img {
                        width: 100%;
                        border: 50%;
                    }
                }

                .text {
                    h5 {
                        font-weight: 500;
                        margin: 12px 0;
                    }

                    .stars {
                        @include itemPosition(center, center);
                        gap: 10px;
                        margin: 12px 0;

                        i {
                            color: #F7CD00;

                        }
                    }

                    p {
                        max-width: 400px;
                        margin: auto;
                    }
                }
            }
        }
    }

    img.avtarImage {
        width: 70%;
    }
}

section.blogs {
    padding: 60px 0;

    .blogContent {
        border: 1px solid $orange;
        border-radius: 15px;
        background-color: $xlight;
        margin: 10px 0;

        .blogTitle {
            @include itemPosition(center, center);
            gap: 10px;
            border-bottom: 1px solid $orange;
            padding: 10px;

            .image {
                width: 150px;
                border-radius: 15px;

                img {
                    border-radius: 15px;
                    width: 100%;
                }
            }

            .text {
                .time {
                    @include itemPosition(center, flex-start);
                    gap: 15px;

                    p {
                        color: $secondary;
                    }

                }

            }
        }

        .blogText {
            padding: 10px;
        }
    }
}

footer.footer {
    background-color: $orange;

    .container {
        padding-bottom: 40px;

        .contactDetails {
            background-color: $orange;
            border-radius: 0 15px 0 0;
            padding: 40px 0;
            color: $white;

            h3 {
                color: $white
            }

            .detail {
                @include itemPosition(center, flex-start);
                gap: 10px;
                margin: 20px 0;
            }

            .socialMedia {
                @include itemPosition(center, flex-start);
                gap: 10px;

                .icon {
                    @include itemPosition(center, center);
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    background-color: $white;

                    i {
                        color: $orange;
                    }

                    &:hover {
                        i {
                            color: $darkText;
                        }
                    }
                }
            }
        }

        .trainingPackages {
            border-radius: 0 0 15px 15px;
            background-color: $white;
            position: relative;

            img {
                display: block;
                margin: auto;
            }

            ul {
                list-style: none;
                text-align: center;
                margin-top: 15px;
                padding: 0;

                li {
                    margin: 5px 0;

                    a {
                        color: $orange;
                        text-decoration: none;
                    }
                }
            }

            &::before {
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 0px 15px 0 0;
                background-color: $orange;
                position: absolute;
                top: 0;
                left: -30px;
                box-shadow: 15px 0 0 0 $white;

            }

            &::after {
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 15px 0px 0 0;
                background-color: $orange;
                position: absolute;
                top: 0;
                right: -30px;
                box-shadow: -15px 0 0 0 $white;

            }
        }

        .quickLinks {
            background-color: $orange;
            border-radius: 15px 0 0 0;
            padding: 40px 0;

            h3 {
                text-align: center;
                color: $white;
            }

            ul {
                list-style: none;
                padding: 0;
                text-align: center;

                li {
                    a {
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
    }

    .copyright {
        background-color: $darkText;
        color: $white;
        padding: 10px;
        text-align: center;
    }
}

// Course page 

section.courseMain {
    background-image: url('../assets/courseMain.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

    p {
        font-size: 35px;
        text-align: center;
        max-width: 900px;
        margin: 100px auto;
    }
}

section.aboutUs {
    padding: 70px 0;

    .highlights {
        background: linear-gradient(180deg, #F15A29 0%, #501400 100%);
        border-radius: 14px;
        color: $white;
        padding: 15px;

        p.heading {
            font-size: 35px;
        }
    }
}

section.scheduleCall {
    background-image: url('../assets/scheduleCall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 70px 0;
    border-radius: 15px;

    .container {
        background-color: $white;
        padding: 15px;
        border-radius: 15px;

        p {
            font-style: italic;
            font-weight: 500
        }

        h4 {
            color: $orange;
        }

        .form {
            border: 1px solid $orange;
            padding: 15px;
            border-radius: 12px;

            label {
                color: $dark;
                margin: 10px 0;
            }

            input {
                border: 1px solid $orange;
                border-radius: 12px;
                background: $light;

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

section.yogaFeatures {
    padding: 70px 0;
    text-align: center;

    p {
        max-width: 991px;
        margin: auto;
    }

    img {
        width: 70%;
        margin: auto;
    }

    .features {
        margin-bottom: 15px;

        .dropdown {
            height: 50px;

            button {
                height: 50px;
                color: $primary;
                width: 100%;
                text-align: start;
                padding: 10px 15px;

                &.dropdown-toggle {
                    &::after {
                        position: absolute;
                        top: 50%;
                        right: 15px;
                    }
                }
            }

            ul.dropdown-menu {
                width: 100%;
                border-radius: 8px;

                .dropdown-item {
                    &:active {
                        background-color: $orange;
                    }
                }
            }
        }
    }
}

section.schedule {
    background-image: url('../assets/schedule.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
    background-attachment: fixed;

    p.heading {
        font-size: 35px;
        color: $white;
        text-align: center;
    }

    .time {
        background: linear-gradient(96.82deg, rgba(91, 22, 0, 0.74) 10%, rgba(241, 94, 46, 0.83) 104.16%);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 15px;
        color: $white;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
        margin: 20px 0;

        h6 {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }

    }
}

section.yogaTraine {
    padding: 70px 0;
    text-align: center;

    p {
        max-width: 991px;
        margin: auto;
    }

    .teachers {
        background-color: #FFE4DC;
        position: relative;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        padding-top: 180px;
        color: $darkText;
        margin-top: 150px;

        img {
            width: 90%;
            position: absolute;
            bottom: 80px;
            left: 50%;
            transform: translate(-50%);
            border-radius: 15px;
        }

        p.name {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 0;
        }

        .social {
            background-color: #FFE4DC;
            border-radius: 5px;
            padding: 5px 10px;
            position: absolute;
            bottom: -45px;
            left: 50%;
            transform: translateX(-50%);

            i {
                color: $darkText;
            }
        }
    }
}

section.upcommingEvents {
    padding: 70px 0 0;
    text-align: center;

    .tableBox {
        border: 1px solid $orange;
        border-radius: 15px;

        .table {

            .table>:not(:last-child)>:last-child {
                border-bottom-color: $primary !important;
            }
        }

    }

    .roomFee {
        background-color: $orange;
        color: $light;
        padding: 15px;
        border-radius: 15px;
        width: fit-content;
        margin: auto;

        h4 {
            color: $light;
        }

        h3 {
            color: $light;
            font-size: 30px;
        }
    }
}

section.faq {
    padding: 70px 0;

    .container {
        .accordion {
            .accordion-item {
                margin: 20px 0;
                border: none;

                h3.accordion-header {

                    button.accordion-button {
                        border-radius: 12px;
                        border: 1px solid $orange;
                        background: linear-gradient(90deg, #FFFFFF 1.45%, #FFD7CA 100%);

                        &:hover {
                            color: $orange;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    .accordion-button:not(.collapsed) {
                        background: linear-gradient(90deg, #FFFFFF 1.45%, #FFD7CA 100%);
                        color: $darkText;
                    }

                    .accordion-button:not(.collapsed)::after {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    }
                }

            }
        }
    }
}


section.package {
    padding: 70px 0;
    position: relative;

    .packagelist {
        @include itemPosition(center, center);
        gap: 15px;
        background-color: $orange;
        border-radius: 15px;
        margin: 15px auto;
        padding: 10px;
        width: fit-content;

        .icon {
            height: 100%;
            background-color: $white;
            padding: 45px 20px;
            border-radius: 12px;

            i {
                color: $darkText;
                font-size: 40px;
            }
        }

        .text {
            color: $light;

            h6 {
                font-weight: 500;
            }
        }
    }

    .sticky-top {
        position: sticky;
        top: 40px;
    }
}

section.gallery {
    padding-bottom: 60px;

    .galleryContainer {
        border: 1px solid $orange;
        padding: 15px;
        border-radius: 15px;

        .img-col {
            &:nth-child(4n) {
                .imageBox {
                    border-right: none;
                }
            }

            &:nth-last-child(-n+4) {
                .imageBox {
                    border-bottom: none;
                }
            }

            .imageBox {
                border-right: 1px solid $orange;
                border-bottom: 1px solid $orange;
                padding: 15px;

                img {
                    width: 100%;
                    margin: auto;
                }

                &:nth-child(4n) {
                    border-right: none;

                }

                img {
                    margin: auto;
                    display: block;
                }
            }

        }
    }
}

section.howToreach {
    padding-bottom: 70px;

    p {
        max-width: 991px;
        margin: auto;
    }
}


section.pagesMain {
    background-image: url('../assets/courseMain.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 400px;

    p {
        font-size: 35px;
        text-align: center;
        max-width: 900px;
        margin: 100px auto;
    }
}

section.pageData {
    padding: 60px 0;
}

section.leadGeneration {
    padding: 0 0 60px 0;

    .formBox {
        border: 1px solid $orange;
        padding: 15px;
        border-radius: 15px;

        .textSide {
            max-width: 450px;

            p {
                font-style: italic;
                font-weight: 400;
            }
        }

        .formside {
            max-width: 450px;
            margin-left: auto;

            .sendEmail {
                @include itemPosition(center, flex-start);
                border: 1px solid $orange;
                padding: 8px;
                border-radius: 12px;
                gap: 15px;

                input {
                    border: none;
                }
            }

            .btn-box {
                @include itemPosition(center, center);
                gap: 15px;

            }

            p {
                font-weight: 500;
            }
        }

    }

}

section.testimonial {
    padding: 20px 0;
    background-color: $light;

    .reviewBox {
        @include itemPosition(end, flex-start);
        gap: 15px;
        margin: 40px 0;

        .image {
            width: 100px;
            height: 100px;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .text {
            flex: 1;
            background-color: $orange;
            padding: 15px;
            border-radius: 15px;
            color: $light;
            position: relative;

            i {
                font-size: 50px;
                transform: rotate(-90deg);
                position: absolute;
                position: absolute;
                bottom: -6px;
                color: $orange;
            }
        }
    }

    .leftReview {
        .text {
            i {
                left: -13px;
            }
        }
    }

    .rightReview {
        .text {
            i {
                right: -13px;
            }
        }
    }
}

section.videoReview {
    padding: 60px 0;

    p {
        max-width: 991px;
        margin: auto;
        text-align: center;
    }

    .iframe {
        margin-top: 30px;

        iframe {
            width: 100%;
            height: 250px;
            border-radius: 15px;
        }
    }
}

section.readBlog {
    padding: 0 0 60px 0;

    .blog {
        padding: 15px;
        border-radius: 15px;
    }

    .planes {
        background-image: url("../assets/packages.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px 0;
        color: $light;
        text-align: center;
        border-radius: 15px;
        margin-bottom: 50px;

        h4 {
            font-weight: 600;
            color: $light;
            max-width: 250px;
            margin: 20px auto;
        }
    }

    .aboutAuthor {
        background-color: $light;
        border-radius: 15px;
        padding: 15px 0;

    }
}

section.conatctUs {
    padding: 60px 0;

    .form {
        border: 1px solid $orange;
        padding: 15px;
        border-radius: 15px;

        .content {
            max-width: 600px;

            h4 {
                color: $grey;
            }

            h3.withBg {
                background-color: $orange;
                border-radius: 15px;
                color: $white;
                font-weight: 500;
                padding: 15px;
                font-size: 16px;
            }
        }

        form {

            input,
            textarea {
                border: 1px solid $orange;
                margin: 7.5px 0;
                background-color: $light;

                &::placeholder {
                    color: $orange;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            .btn {
                margin-top: 7.5px;
            }
        }

    }

    .contact {
        background-color: $orange;
        border-radius: 15px;
        color: $white;
        padding: 15px;
        position: sticky;
        top: 15px;

        h3 {
            color: $white;
        }

        h4 {
            color: $white;
        }

        p {
            margin: 20px 0 0 0;
        }

        .social {
            @include itemPosition(center, flex-start);
            gap: 15px;

            .icon {
                @include itemPosition(center, center);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: $white;

                i {
                    color: $orange;
                }
            }
        }
    }
}

// about us page 

section.aboutpage {
    background-image: url("../assets/aboutMain.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    h5 {
        color: $white;
        position: absolute;
        left: 6%;
        font-size: 30px;
        max-width: 500px;
        top: 50%;
        transform: translateY(-50%);
    }
}

section.aboutContent {
    padding: 60px 0;
}

section.Course {

    .imageContainer {
        background-image: url("../assets/mainImage.jpg");
        background-size: cover;
        background-position: center;
        height: 300px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        border-radius: 15px;
    }
}

section.youtube {
    padding: 0 0 60px 0;

    iframe {
        border-radius: 15px;
    }
}

section.heightLight {
    padding: 0 0 60px 0;
    text-align: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 20px;
        }
    }
}

section.rishikesh {
    padding: 60px 0;

    .imageContainer {
        background-image: url("../assets/rishikeshImage.png");
        background-size: cover;
        background-position: center;
        height: 400px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        border-radius: 15px;
        margin-bottom: 50px;
    }
}