@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn-main {
  background: radial-gradient(91% 105.38% at 9% 28.21%, #FF9978 0%, #F15A29 79.07%);
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 30px;
}
.btn-main:hover {
  opacity: 0.9;
  color: #ffffff;
}
.btn-main:focus {
  box-shadow: none;
}

h1 {
  font-size: 35px;
  background: linear-gradient(90.81deg, #F15A29 1.49%, #5B1600 50.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-size: 30px;
  background: linear-gradient(90.81deg, #F15A29 1.49%, #5B1600 50.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h3 {
  font-size: 25px;
  color: #404040;
}

h4 {
  font-size: 20px;
  color: #5B1600;
}

.centerMid {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.headerTop {
  background-image: url("../assets/headerTop.png");
  background-image: url("../assets/headerTop.png");
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
}

section.header {
  margin-top: -50px;
}
section.header nav.navbar ul.navbar-nav {
  background: linear-gradient(90deg, #5B1600 -1.7%, #F15A29 101.82%);
  border-radius: 30px 8px;
  padding: 20px;
}
section.header nav.navbar ul.navbar-nav li.nav-item {
  margin: 0 3px;
  border-radius: 20px;
}
section.header nav.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #FFE4DC;
}
section.header nav.navbar ul.navbar-nav li.nav-item:hover {
  background-color: #ffffff;
}
section.header nav.navbar ul.navbar-nav li.nav-item:hover a.nav-link {
  color: #5B1600;
}
section.header nav.navbar ul.navbar-nav li.nav-item.active {
  background-color: #ffffff;
  border-radius: 20px;
}
section.header nav.navbar ul.navbar-nav li.nav-item.active a.nav-link {
  color: #5B1600;
}
section.header nav.navbar .loginBtn {
  margin-left: 90px;
}

section.main {
  background-image: url("../assets/mainImage.jpg");
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.main .toggleBtns {
  display: flex;
  justify-content: end;
  gap: 20px;
  position: absolute;
  bottom: 170px;
  right: 30px;
}
section.main .toggleBtns .btnBox {
  border: 1px solid radial-gradient(91% 105.38% at 9% 28.21%, #FF9978 0%, #F15A29 79.07%);
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.main .toggleBtns .btnBox .fa-arrow-left {
  color: #FFE4DC;
}
section.main .toggleBtns .btnBox .fa-arrow-right {
  color: #FFE4DC;
}
section.main .toggleBtns .btnBox1 {
  background: radial-gradient(91% 105.38% at 9% 28.21%, #FF9978 0%, #F15A29 79.07%);
}
section.main .toggleBtns .btnBox2 {
  background: radial-gradient(91% 105.38% at 9% 28.21%, #FF9978 0%, #F15A29 79.07%);
}
section.main .owl-carousel-main {
  position: absolute;
  bottom: -200px;
}
section.main .owl-carousel-main .item {
  text-align: center;
}
section.main .owl-carousel-main .item .imgBox {
  background: linear-gradient(96.82deg, #F0F0F0 10%, rgba(255, 255, 255, 0) 104.16%);
  filter: drop-shadow(5px 4px 20px rgba(0, 0, 0, 0.3));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 10px;
}
section.main .owl-carousel-main .item .imgBox img {
  border-radius: 12px;
}
section.main .owl-carousel-main .item .imgBox h3 {
  color: #5B1600;
  margin-top: 15px;
  font-size: 20px;
}

section.expectation {
  margin-top: 250px;
  text-align: center;
}

section.certifications {
  padding: 60px 0;
  text-align: center;
}
section.certifications p {
  max-width: 800px;
  margin: 15px auto 50px;
}
section.certifications .content {
  background: linear-gradient(360deg, #FFFFFF 4.32%, #F15A29 65.61%, #5B1600 98.99%);
  border-radius: 15px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: auto;
}
section.certifications .content .imgBox {
  background-color: #ffffff;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  margin-top: 15px;
}
section.certifications .content .imgBox h4 {
  margin-top: 15px;
}

section.yogaschool {
  padding: 0 0 60px 0;
}
section.yogaschool .headingRow p {
  max-width: 800px;
  margin: 15px auto 50px;
}/*# sourceMappingURL=style.css.map */